<%= form_for(@pool) do |f| %>
  <% if @pool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pool.errors.count, "error") %> prohibited this pool from being saved:</h2>

      <ul>
      <% @pool.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :pool_type_id %>
    <%= f.select :pool_type_id, PoolType.all.collect { |p| [p.name, p.id] }, :include_blank => true %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :min_players %>
    <%= f.number_field :min_players %>

    <%= f.label :max_players %>
    <%= f.number_field :max_players %>

    <%= f.label :private %>
    <%= f.check_box :private %>

    <%= f.label :password %>
    <%= f.text_field :password %>

    <%= f.label :free %>
    <%= f.check_box :free %>

    <%= f.label :cost %>
    <%= f.number_field :cost %>

    <%= f.label :first_place_payout %>
    <%= f.text_field :first_place_payout %>

    <%= f.label :second_place_payout %>
    <%= f.text_field :second_place_payout %>

    <%= f.label :third_place_payout %>
    <%= f.text_field :third_place_payout %>

    <%= f.label :fourth_place_payout %>
    <%= f.text_field :fourth_place_payout %>

    <%= f.label :fifth_place_payout %>
    <%= f.text_field :fifth_place_payout %>

    <div>
    <%= f.submit %>
    </div>

<% end %>
