<% if can? :read, @pool %>
  <% if (@week.pick_cutoff_passed? || @pool.all_picks_in) && !@pool.preseason? %>
    <div class="picks-alert">
      <%= link_to "All picks are in! Click here to view picks for this week", pool_standings_for_week_path(@pool, Week.current.name.to_i) %>
    </div>
  <% end %>

  <% if Time.now < Year::LINES_OPEN && !@pool.over? %>
    <div class="picks-alert">
      <%= "You will be able to make picks on #{Year::LINES_OPEN.strftime("%m/%d/%Y")}." %>
    </div>
  <% end %>


  <section class="left">
  <div class="sub-container pick_set">
    <% if @pool.over? %>
      <h3>This pool has ended</h3>
    <% else %>
      <div>
        <h3>Week <%= Week.current.name %> Picks</h3>
        <% if @pick_set.nil? or @pick_set.picks.empty? %>
          <p>You haven't made any picks this week</p>
        <% else %>
          <%= render 'pick_glance', pick_set: @pick_set %>
        <% end %>
      </div>
      <% if @week.pick_cutoff_passed? && !@week.is_last_week_of_season? %>
        <div style="margin-top: 10px;">
          <h3>Week <%= Week.next.name %> Picks</h3>
          <% if @next_week_pick_set.nil? or @next_week_pick_set.picks.empty? %>
            <p>You haven't made any picks for next week</p>
          <% else %>
            <%= render 'pick_glance', pick_set: @next_week_pick_set %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <%= link_to 'See current point spreads', new_pool_pick_set_path(@pool) %>
  </div>

  <% unless @pool.over? %>
    <div class="sub-container pick_set">
      <h3>Pick Count for Week <%= Week.current.name %></h3>
      <table>
        <thead>
          <th>Player</th>
          <th>Picks</th>
        </thead>
        <tbody>
          <% @users.each do |player| %>
            <tr class=<%= cycle('shade', ' ') %>>
              <td><%= player[:name] %></td>
              <td><%= player[:picks_made] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

  </section>

  <section class="left">
  <div class="sub-container">
    <h3>Your Achievements</h3>
    <% if @badges.empty? %>
      <p>You haven't earned any badges because you suck</p>
    <% else %>
      <% @badges.each do |badge| %>
        <%= link_to (image_tag "badges/#{badge.badge.image}_64.png"),achievements_pool_path %>
      <% end %>
    <% end %>
  </div>

  <div class="sub-container">
    <h3>Latest Message Board Activity</h3>
    <% if @messages.empty? %>
      <p>No messages have been posted</p>
    <% else %>
      <ul>
        <% @messages.each do |message| %>
          <li>
            <div>
              <%= link_to message.title, pool_topic_path(@pool, message) %>
              from <%= message.user.display_name %>
            </div>
            <div style="color: #999; font-size: 12px; padding-left: 10px;">
              <% if !message.messages.empty? %>
                <% last_reply = message.messages.last %>
                last reply by <%= last_reply.user.display_name %> <%= time_ago_in_words(last_reply.created_at) %> ago
              <% else %>
                no replies
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="sub-container">
    <h3>Pool Information</h3>
    <p>
    <b>Pool type:</b>
    <%= @pool.pool_type.name %>
    </p>

    <p>
    <b>Name:</b>
    <%= @pool.name %>
    </p>

    <p>
    <b>Pool admin(s):</b><br />
    <% @pool.admins.each do |a| %>
      <%= a %><br />
    <% end %>
    </p>

    <p>
    <b>Total players:</b>
    <%= @pool.total_players %>
    </p>
    <p>

    <b>Min picks:</b>
    <%= @pool.min_picks %>
    </p>

    <p>
    <b>Max picks:</b>
    <%= @pool.max_picks %>
    </p>

    <% unless @pool.free? %>
      <p>
      <b>Cost:</b>
      <%= @pool.cost %>
      </p>

      <p>
      <b>First place payout:</b>
      <%= @pool.first_place_payout %>
      </p>

      <p>
      <b>Second place payout:</b>
      <%= @pool.second_place_payout %>
      </p>

      <p>
      <b>Third place payout:</b>
      <%= @pool.third_place_payout %>
      </p>

      <p>
      <b>Fourth place payout:</b>
      <%= @pool.fourth_place_payout %>
      </p>

      <p>
      <b>Fifth place payout:</b>
      <%= @pool.fifth_place_payout %>
      </p>

      <p>
      <b>Sixth place payout:</b>
      <%= @pool.sixth_place_payout %>
      </p>

      <p>
      <b>Seventh place payout:</b>
      <%= @pool.seventh_place_payout %>
      </p>

      <p>
      <b>Eighth place payout:</b>
      <%= @pool.eighth_place_payout %>
      </p>
    <% end %>

    <% if can? :update, @pool %>
      <%= link_to 'Edit', edit_pool_path(@pool) %>
    <% end %>
  </div>
  </section>

<% else %>
  <%= form_for @pool_user do |f| %>
    <% if @pool_user.errors.any? %>
      <div id="error_explanation">

        <ul>
          <% @pool_user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if @pool.private? %>
      <%= f.label "Pool Password" %>
      <%= f.password_field :password %>
    <% end %>
    <%= f.hidden_field :pool_id, :value => @pool.hashed_id %>
    <div><%= f.submit "Join This Pool", :disable_with => 'loading...' %></div>
  <% end %>
<% end %>
