<% title "Weeks" %>

<table>
  <tr>
    <th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>
  </tr>
  <% for week in @weeks %>
    <tr>
      <td><%= week.name %></td>
      <td><%= week.start_date %></td>
      <td><%= week.end_date %></td>
      <td><%= link_to "Show", week %></td>
      <td><%= link_to "Edit", edit_week_path(week) %></td>
      <td><%= link_to "Destroy", week, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Week", new_week_path %></p>
