<% if @games %>
  <p class="pick-instructions">Click on the team(s) you wish to select then click "Submit" at the bottom of the page.<p>
  <%= form_for([@pool, @pick_set]) do |f| %>
    <% if @pick_set.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(@pick_set.errors.count, "error") %> prohibited your picks from being saved:</h3>

        <ul>
          <% @pick_set.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <ul id="game-list">
      <% @games.each do |game| %>
        <li id="<%= game.id %>" class="<%= cycle('shade', ' ') %>">
        <% if game.spread != "off" and game.has_not_started %>
          <%= f.fields_for(:picks, Pick.new) do |p| %>
            <%= render partial: 'spreads', locals: { game: game } %>
            <%= render partial: 'over_under', locals: { game: game } %>
            <%= p.hidden_field :spread, :class => 'set-spread' %>
            <%= p.hidden_field :is_over, :class => 'set-is-over' %>
            <%= p.hidden_field :over_under, :class => 'set-over-under' %>
            <%= p.hidden_field :team_id, :class => 'set-team' %>
            <%= p.hidden_field :game_id, :value => game.id %>
          <% end %>
        <% else %>
          <div class="game-off"><h3>OFF</h3></div>
          <div class="team-off">
            <%= image_tag game.away.team.logo, :class => "team_logo" %><%= game.away.team.nickname %>
          </div>
          <div class="team-off">
            <%= image_tag game.home.team.logo, :class => "team_logo" %><%= game.home.team.nickname %>
          </div>
        <% end %>
        </li>
      <% end %>
    </ul>

    <div class="actions" style="margin:12px 0">
      <%= f.submit 'Submit', :onclick => 'return confirm("Are you sure you want to submit these picks? Once submitted they cannot be changed.")' %>
    </div>
  <% end %>
<% else %>
  <h2>Problem connecting to data source, please check back later.</h2>
<% end %>

<% comment do %>
  <p>Lines will be available shortly...</p>
<% end %>

