<% if game.spread != :picked %>
  <div id="<%= game.away.team.id %>" class="team-line away" data-behaviors='pick-values'>
    <div class="click-to-pick">Click to select</div>
    <span class="team"><%= image_tag game.away.team.logo, :class => "team_logo" %><%= game.away.team.nickname %></span>
    <span class="spread">
      <% if game.spread != "0" %>
        <%= game.spread.to_f * -1 > 0 ? '+' : '' %><%= game.spread.to_f * -1 %>
      <% else %>
        <%= game.spread.to_f %>
      <% end %>
    </span>
  </div>
  <p class="at">at</p>
  <div id="<%= game.home.team.id %>" class="team-line home" data-behaviors='pick-values'>
    <div class="click-to-pick">Click to select</div>
    <span class="team"><%= image_tag game.home.team.logo, :class => "team_logo" %><%= game.home.team.nickname %></span>
    <span class="spread"><%= game.spread.to_f > 0 ? '+' : '' %><%= game.spread.to_f %></span>
  </div>
  <% if pool.pool_type.allow_same_game? %>
    <%= pick.select :count, (1..@units_remaining).collect{ |n| [n, n] } %>
    <span style="font-size: 10px">Select the number of units</span>
  <% end %>
<% else %>
  <div class="picked-notice">
    You've already picked this game.
  </div>
  <div class="picked-team">
    <%= image_tag game.away.team.logo, :class => "team_logo" %><%= game.away.team.nickname %>
  </div>
  <p class="at">at</p>
  <div class="picked-team">
    <%= image_tag game.home.team.logo, :class => "team_logo" %><%= game.home.team.nickname %>
  </div>
<% end %>
