<% if game.spread != :picked %>
  <div id="<%= game.away.team.id %>" class="team-line away" data-behaviors='pick-values'>
    <div class="click-to-pick">Click to select</div>
    <%#= check_box_tag("pick_#{game.id}_0", '1', false, :class => 'pick', 'data-behaviors' => 'pick-values') %>
    <span class="team"><%= game.away.team.nickname %></span>
    <span class="spread">
      <% if game.spread != "0" %>
        <%= game.spread.to_f * -1 > 0 ? '+' : '' %><%= game.spread.to_f * -1 %>
      <% else %>
        <%= game.spread.to_f %>
      <% end %>
    </span>
  </div>
  <p class="at">at</p>
  <div id="<%= game.home.team.id %>" class="team-line home" data-behaviors='pick-values'>
    <div class="click-to-pick">Click to select</div>
    <%#= check_box_tag("pick_#{game.id}_1", '1', false, :class => 'pick', 'data-behaviors' => 'pick-values') %>
    <span class="team"><%= game.home.team.nickname %></span>
    <span class="spread"><%= game.spread.to_f > 0 ? '+' : '' %><%= game.spread.to_f %></span>
  </div>
<% else %>
  <div class="picked-notice">
    You've already picked this game.
  </div>
  <div class="picked-team">
    <%= game.away.team.nickname %>
  </div>
  <div class="picked-team">
    <%= game.home.team.nickname %>
  </div>
<% end %>
