<h3>Week <%= @pick_set.week.name %> Picks for <%= @pick_set.pool.name %></h3>

<table>
  <thead>
    <th>Record</th>
    <th>Team</th>
    <th>Spread</th>
    <th>Result</th>
  </thead>
  <tbody>
    <tr class="shade">
      <td><%= @pick_set.record %></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <% @pick_set.picks.each do |pick| %>
        <tr>
          <td></td>
          <% if pick.team.nil? %>
            <td>No pick</td>
            <td>n/a</td>
          <% else %>
            <td><%= pick.team.nickname %></td>
            <td><%= pick.spread %></td>
          <% end %>
          <td class="<%= pick.result_in_words.downcase %>"><%= pick.result_in_words %></td>
        </tr>
      <% end %>
  </tbody>
</table>


<% if can? :update, @pick_set %>
  <% unless @pick_set.has_max_picks %>
    <%= link_to 'Add picks for this week', edit_pool_pick_set_path(@pool, @pick_set) %>
  <% end %>
<% end %>
