<h2><%= @topic.title %></h2>
<h3>posted by <%= @topic.user.display_name %></h3>
<div class="topic-tools">
  <% if can? :update, @topic %>
    <%= link_to 'Edit', edit_pool_topic_path(@pool, @topic) %> |
  <% end %>
  <%= link_to 'Back', pool_topics_path %>
</div>

<%= form_for @message do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_area :body, :rows => 3 %>
  <%= f.hidden_field :topic_id, :value => @topic.id %>
  <%= f.submit "Reply", :disable_with => 'loading...' %>
<% end %>


<% @messages.each do |message| %>
  <div class="reply-container <%= cycle('shade', ' ') %>">
    <p class="author"><%= message.user.display_name %> says:</p>
    <p class="reply-date"><%= time_ago_in_words(message.created_at) %> ago </p>
    <div class="user-reply">
      <%= markdown message.body %>
    </div>
  </div>
<% end %>


