<h1>Listing pool_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Max picks</th>
    <th>Min picks</th>
    <th>Spreads</th>
    <th>Over under</th>
    <th>Is tiebreaker</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pool_types.each do |pool_type| %>
  <tr>
    <td><%= pool_type.name %></td>
    <td><%= pool_type.max_picks %></td>
    <td><%= pool_type.min_picks %></td>
    <td><%= pool_type.spreads %></td>
    <td><%= pool_type.over_under %></td>
    <td><%= pool_type.is_tiebreaker %></td>
    <td><%= link_to 'Show', pool_type %></td>
    <td><%= link_to 'Edit', edit_pool_type_path(pool_type) %></td>
    <td><%= link_to 'Destroy', pool_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pool type', new_pool_type_path %>
