<% if current_user.pools.include?(@pool) %>
  <ul id="pool-nav" class="group">
    <li><%= link_to "Pool Dashboard", @pool %></li>
    <li><%= link_to "Standings", pool_standings_path(@pool) %></li>
    <% if current_user.pick_set_for_this_week(@pool) and current_user.pick_set_for_this_week(@pool).has_max_picks %>
      <li><%= link_to "View Picks", pool_pick_set_path(@pool, current_user.pick_set_for_this_week(@pool)) %></li>
    <% else %>
      <li><%= link_to "Make Picks", new_pool_pick_set_path(@pool) %></li>
    <% end %>
    <% if can? :update, @pool %>
      <li><%= link_to "Players", pool_players_path(@pool) %></li>
    <% end %>
    <li><%= link_to "Message Board", pool_topics_path(@pool) %></li>
    <li><%= link_to "Achievements", achievements_pool_path(@pool) %></li>
    <% if current_user.pools.size > 1 %>
      <li><%= link_to "Your Pools", root_path %></li>
    <% end %>
  </ul>
<% end %>

<h2><%= @pool.name %></h2>
<hr />
